.element{
    position: relative;
    display:grid;
    grid-template-areas:
    "img img"
    "text button";
    grid-template-rows: 282px 79px;
    grid-template-columns: 4fr 1fr;
    background-color: white;
    border-radius: 10px;
}

