.form__save-button{
    display: flex;
    cursor:pointer;
    margin-bottom: 37px;
    background-color: black;
    color: white;
    width: 358px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 22px;
    border: none;

}
.form__save-button:hover{
    background-color: rgba(0,0,0, 0.8);
}

@media screen and (max-width:767px){
    .form__save-button{
        align-self: center;
        width: 238px;
        height: 46px;
        margin-bottom: 29px;
        font-weight: 400;
        font-size: 0.875em;
        line-height: 17px;
    }
}