.element__text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    grid-area: text;
    font-weight: 900;
    font-size: 1.5em;
    line-height: 29px;
    margin-left: 21px;
    max-width: 200px;
}