.header__exit{
    visibility:hidden;
    margin: 10px 0 0 0;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;  
    color: #A9A9A9;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
}