.register__save-button{
    /* position: absolute; */
    /* display: flex; */
    cursor:pointer;
    margin-top: 216px;
    background-color: white;
    color: black;
    width: 358px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 22px;
    border: none;
}